<h1>Kitchen</h1>
<div class="row g-4">
    @for (order of remainingOrders; track order.done) {
        <div class="col col-sm-6 col-lg-3">
            <div class="card h-100">
                <h5 class="card-header">
                    Table number: {{ order.tableNumber }}
                </h5>
                <div class="card-body">
                    <h5 class="card-title">
                        Order no: {{ order.id }}
                    </h5>
                    <ul class="list-group-flush">
                        @for (item of order.menuItemOrders; track item) {
                            <li class="list-group-item">
                                {{ item.orderQuantity }} {{ item.name }}
                            </li>
                        }
                    </ul>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" (click)="orderCompleted(order.id)">
                        Done
                    </button>
                </div>
            </div>    
        </div>
    }    
</div>
