@for (order of remainingOrders; track order.done) {
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Order no: {{ order.id }}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                @for (item of order.menuItemOrders; track item) {
                    <li>{{ item.orderQuantity }} {{ getItemName(item.menuItemId) }}</li>
                }
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary" (click)="orderCompleted(order.id)">Done</button>
            </mat-card-actions>
    
        </mat-card>
    
    
}