<div class="row">
    <div class="col">
        <h1>Menu</h1>
    </div>
    <div class="col">
        <button class="btn btn-primary float-end" type="button" data-bs-toggle="modal" data-bs-target="#newItemModal">Add Item</button>
    </div>
</div>

<div class="row">
    <ul class="list-group">
        @for (menuItem of menuItems; track menuItem) {
            <li class="list-group-item">
                {{menuItem.name}} 
                <div class="float-end">
                    ${{menuItem.price}}
                    <div class="dropdown float-end">
                        <button class="btn btn-default" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="btn btn-default dropdown-item" (click)="removeItem(menuItem.id)">Remove item</button></li>
                        </ul>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

<!--Modal-->
<div class="modal fade" id="newItemModal">
    <div class="modal-dialog modal-content">
        <div class="modal-header">
            <h4 class="modal-title">New Item</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="newMenuItem.name">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" [(ngModel)]="newMenuItem.price">
            </div>
        </div>

        <div class="modal-footer">
            <div class="float-end">
                <button class="btn btn-primary" (click)="addItem(this.newMenuItem)" data-bs-dismiss="modal">Add Item</button>
            </div>
        </div>
    </div>
</div>