<h1>Orders</h1>
<div class="row">
    <div class="col-lg-8">
        <div class="row gy-4">
            @for (menuItem of menuItems; track menuItem.id) {
                <div class="col-sm-3">
                    <div class="card">
                        <img src="../../../assets/photos/photo1.jpg" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h5 class="card-title">{{menuItem.name}}</h5>
                            <h6 class="card-subtitle float-start">${{menuItem.price}}</h6>
                            <button class="btn btn-outline-success btn-sm float-end" (click)="addItem(menuItem)">Add Item</button>
                        </div>
                    </div>    
                </div>
            }
        </div>
    </div>

    <div class="col-lg-4">
        <div class="d-flex align-items-center">
            <div class="flex-fill">
                <button type="button" class="btn btn-primary" (click)="sendOrder()">Send Order</button>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="table-number" placeholder="Table No: " [(ngModel)]="tableNumber"> 
            </div>
        </div>
        <ul class="list-group">
            @for (item of order.items; track order.items) {
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <div class="flex-fill">
                            {{ getItemQuantity(item.id) }}
                            {{item.name}}
                        </div>
                        <button class="btn btn-default" (click)="removeItem(item.id)">
                            <i class="bi bi-x-circle-fill"></i>
                        </button>    
                    </div>
                </li>
            }
        </ul>
    </div>
</div>